extends layout

block topscripts
  script(src='/javascripts/_commonSession_bundle.js')

block content
  include topbar
  h1 Разделы
  div#list

block scripts
  script(src='/javascripts/_listForums_bundle.js')
