extends layout

block topscripts
  script(src='/javascripts/_commonSession_bundle.js')

block content
  include topbar
  h1#title= title
  button.button-outline Создать тему
  hr
  div#list
  hr
  include pagination

block scripts
  script(src='/javascripts/_listThreads_bundle.js')
