extends layout

block topscripts
  script(src='/javascripts/_session_bundle.js')

block content
  h1 Добро пожаловать!
  p
    a.button(href='/login') Вход
  p
    a.button(href='/signup') Регистрация