doctype html
html
  head
    title Форум
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/milligram.min.css')
  body
    block content
    block scripts
