doctype html
html
  head
    title Форум
    link(rel='icon' href='/images/favicon.ico')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/milligram.min.css')
  body
    block topscripts
    block content
    block scripts
