extends layout

block topscripts
  script(src='/javascripts/_commonSession_bundle.js')

block content
  include topbar
  h1#title= id
  span Создатель:&nbsp;
  span#user
  br
  span Время создания:&nbsp;
  span#creation
  br
  span Последнее изменение:&nbsp;
  span#update
  p
  div#message
  hr
  div#list
  hr
  include pagination

block scripts
  script(src='/javascripts/_loadThread_bundle.js')