extends layout

block topscripts
  script(src='/javascripts/_commonSession_bundle.js')

block content
  include topbar
  a#forum
  h1#title
  span №
  span#id= id
  br
  span Создатель:&nbsp;
  span#user
  br
  span Время создания:&nbsp;
  span#creation
  br
  span Последнее изменение:&nbsp;
  span#update
  p
  div#message
  br
  form(onsubmit='createPost(this); return false;' novalidate=true)
    textarea(name='post' required=true placeholder='Сообщение' style='display: none')
    input(name='parent' required=false placeholder='(Опционально) № сообщения, на которое вы хотите ответить' type='text' style='display: none')
    button#send.button-outline(type='submit') Ответить
  hr
  div#list
  hr
  include pagination

block scripts
  script(src='/javascripts/_loadThread_bundle.js')
  script(src='/javascripts/_createPost_bundle.js')